<h4>Reactive Form - Example</h4>
<div class="well well-lg">
    <form [formGroup]="exampleForm" (ngSubmit)="submitForm(exampleForm)" class="form-horizontal" novalidate>

        <div class="form-group col-md">
            <label for="firstName">First Name *</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" name="firstName" 
            placeholder="Required First Name">
            <small *ngIf="hasError('firstName')" [ngClass]="{'has-error':hasError('firstName')}">
                <span *ngIf="firstName.errors.required">First Name is requirted.</span>
                <span *ngIf="firstName.errors.minlength">First Name minimum 2 char long requirted.</span>
                <span *ngIf="firstName.errors.maxlength">First Name maxmum 16 char long requirted.</span>
            </small>
        </div>

        <div class="form-group col-md">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" name="lastName" 
            placeholder=" Required Your Last Name ">
            <small *ngIf="hasError('lastName')" [ngClass]="{'has-error':hasError('lastName')}">
                <span *ngIf="lastName.errors.required">Last Name is requirted.</span>
                <span *ngIf="lastName.errors.minlength">Last Name minimum 2 char long requirted.</span>
                <span *ngIf="lastName.errors.maxlength">Last Name maxmum 16 char long requirted.</span>
            </small>
        </div>
       
        <div class="form-group col-md">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" name="email"
            placeholder="Required Your Email">
            <small *ngIf="hasError('email')" [ngClass]="{'has-error':hasError('email')}">
                <span *ngIf="email.errors.required">Email is requirted field.</span>
                <span *ngIf="email.errors.email"> This is not a valid Email.</span>
            </small>
        </div>
        <div class="form-group col-md">
            <label for="city">Select Country</label>
            <select id="city" class="form-control" name="city" formControlName="city">
                <option value="" >Select One</option>
                <option value="mumbai">Mumbai</option>
                <option value="hyderbad">Hyderbad</option>
                <option value="pune">Pune</option>
            </select>
            <small *ngIf="hasError('city')" [ngClass]="{'has-error':hasError('city')}">
                <span *ngIf="city.errors.required">City Selection is requirted.</span>
            </small>
        </div>
       
        <button type="submit" class="btn btn-primary btn-block" >Submit</button>

    </form>
</div>